ff {
	/* width: 100wh;
	height: 90vh; */
	/* color: #fff; */
	/* background: linear-gradient(-135deg, #1B6CFF,#4568DC, #B06AB3, #C124FF, #A132FF, #8F3AFF, #6A4AFF, #4E56FF, #3B5EFF, #3461FF); */
	/* background: linear-gradient(-135deg, #3461ff,#3450ff, #343fff, #3a34ff, #4b34ff, #5c34ff, #6d34ff, #7e34ff, #8f34ff, #a034ff, #b134ff, #c234ff, #d334ff); */
	/* background: linear-gradient(-135deg, #5424ff,#6624ff,#7824ff,#8a24ff,#9d24ff,#af24ff,#C124FF,#d324ff,#e624ff,#f824ff,#ff24f4,#ff24e2,#ff24d0); */
	/* background: linear-gradient(-180deg, #C225FF, #8240FF, #3561FF, #1B6CFF); */
	background: linear-gradient(-45deg, #0070ff, #bf00ff);
	background-size: 400% 100%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}
md-card {
	/* background: linear-gradient(-135deg, #1B6CFF,#4568DC, #B06AB3, #C124FF, #A132FF, #8F3AFF, #6A4AFF, #4E56FF, #3B5EFF, #3461FF); */
	/* background: linear-gradient(-135deg, #3461ff,#3450ff, #343fff, #3a34ff, #4b34ff, #5c34ff, #6d34ff, #7e34ff, #8f34ff, #a034ff, #b134ff, #c234ff, #d334ff); */
	/* background: linear-gradient(-135deg, #5424ff,#6624ff,#7824ff,#8a24ff,#9d24ff,#af24ff,#C124FF,#d324ff,#e624ff,#f824ff,#ff24f4,#ff24e2,#ff24d0); */
	/* background: linear-gradient(-180deg, #C225FF, #8240FF, #3561FF, #1B6CFF); */
	background: linear-gradient(-45deg, #11ffff, #ffffe4, #fff, #ffff11);
	background-size: 200% 200%;
	-webkit-animation: Gradient 20s alternate infinite;
	-moz-animation: Gradient 20s alternate infinite;
	animation: Gradient 20s alternate infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
md-button {
	color: white;
}
canvas {
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
  }